// Main palette
$secondTextColor: #737373;
$textColor: #252b42;
$primaryColor: #ff7b47;
$lightTextColor: #fff;
$secondaryColor1: #0d5c63;
$secondaryColor2: #17213c;

// Secondary palette
$readableColor: #585757;
$serviceShadowColor: #00000012;
$bodyBgColor: #fafafa;
$formBorderColor: #e6e6e6;
$inputBgColor: #f9f9f9;
$dark: #000;
$muddyPrimaryColor: #aa5330;
$muddySubscribeColor: #ca6137;
