/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap);

// Nullstyle
@import "_reset.scss";

// Palette
@import "_palette.scss";

// Adaptive font variables

// Mixins
@mixin textParameters(
  $color: $textColor,
  $size: 14px,
  $style: normal,
  $weight: 700,
  $lh: 1,
  $ls: 0.2px,
  $transform: none,
  $opacity: 1,
  $shadow: none,
  $decoration: none
) {
  color: $color;
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $lh;
  letter-spacing: $ls;
  text-transform: $transform;
  opacity: $opacity;
  text-shadow: $shadow;
  text-decoration: $decoration;
}

/* Presets styles*/
body {
  font-family: "Montserrat", sans-serif;
  @include textParameters();
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

._ibg {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

/* Header styles start*/
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;

  &__container {
    display: flex;
    min-height: 104px;
    align-items: center;
  }

  &__logo {
    font-size: 24px;
    color: inherit;
    letter-spacing: 0.1px;
  }

  &__menu {
    margin-left: 133px;
  }
}
.menu {
  padding: 5px 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 21px;
    }
  }

  &__link {
    color: $secondTextColor;
    font-weight: 600;
    line-height: 24 / 14 * 100%;
  }
}
/* Header styles end*/

/* Page styles start*/
.page {
  flex: 1 1 auto;

  &__services {
    position: relative;
    z-index: 2;
    margin-top: -111px;
  }
}

/* Main block styles start*/
.main-block {
  position: relative;

  &__body {
    padding: 184px 0 191px 0;
    position: relative;
    z-index: 2;
    max-width: 400px;

    > * {
      &:not(:last-child) {
        margin-bottom: 35px;
      }
    }
  }

  &__title {
    font-size: 58px;
    line-height: 80 / 58 * 100%;
    font-weight: 800;
  }

  &__text {
    color: $secondTextColor;
    font-size: 20px;
    line-height: 150%;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
  }

  &__button {
    border-radius: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 36px;
    min-height: 48px;
    line-height: 150%;
    text-align: center;
    margin: 10px 0;

    &_orange {
      background: $primaryColor;
      color: $lightTextColor;
    }

    &_border {
      color: $secondaryColor1;
      border: 1px solid $secondaryColor1;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
/* Main block styles end*/

/* Services styles start*/
.services {
  &__container {
  }

  &__column {
    flex: 0 1 33.333%;
    margin-bottom: 30px;
  }

  &__item {
    background-color: $lightTextColor;
    box-shadow: 0px 13px 19px $serviceShadowColor;
    padding: 35px;
    height: 100%;
  }
}

.item-service {
  &__green {
    background-color: $secondaryColor1;

    .item-service {
      &__title {
        color: $lightTextColor;
      }

      &__text {
        color: $lightTextColor;
      }
    }
  }

  > * {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__icon {
  }

  &__title {
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
  }

  &__text {
    color: $secondTextColor;
    font-weight: 500;
    line-height: 142%;
  }
}

/* Services styles end*/

/* Page styles end*/

/* Footer styles start*/

/* Footer styles end*/

/* Media queries start*/
@media (max-width: 1300px) {
  .main-block {
    &__image {
      img {
        object-position: right;
      }
    }
  }
}

@media (max-width: 992px) {
  .header {
    &__menu {
      margin-left: 80px;
    }
  }

  .main-block {
    &__body {
      padding-top: 120px;
    }

    &__image {
      opacity: 0.5;
    }
  }

  .services {
    &__column {
      flex: 0 1 50%;

      &:not(:last-child) {
        margin-bottom: 30px;
      }

      &:last-child {
        flex: 1 1 100%;
      }
    }
  }
}

@media (max-width: 767px) {
  .header {
    &__menu {
      margin-left: 40px;
    }
  }
}

@media (min-width: 670px) {
  .services {
    &__body {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px -30px;
    }

    &__column {
      padding: 0 15px;
    }
  }
}

@media (max-width: 479px) {
  .header {
    &__container {
      min-height: 70px;
    }

    &__menu {
      margin-left: 20px;
    }
  }

  .menu {
    &__link {
      font-size: 18px;
    }
  }

  .main-block {
    &__title {
      font-size: 42px;
    }

    &__text {
      color: $readableColor;
    }

    &__button {
      flex: 1 1 100%;
    }

    &__body {
      padding: 115px 0 160px 0;
    }
  }
}

@media (min-width: 479px) {
  .main-block {
    &__button {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .services {
    &__item {
      padding: 25px;
    }
  }
}
/* Media queries end*/
