/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap);

// Nullstyle
@import "_reset.scss";

// Palette
@import "_palette.scss";

// Adaptive font variables

// Mixins
@mixin textParameters(
  $color: $textColor,
  $size: 14px,
  $style: normal,
  $weight: 700,
  $lh: 1,
  $ls: 0.2px,
  $transform: none,
  $opacity: 1,
  $shadow: none,
  $decoration: none
) {
  color: $color;
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $lh;
  letter-spacing: $ls;
  text-transform: $transform;
  opacity: $opacity;
  text-shadow: $shadow;
  text-decoration: $decoration;
}

/* Presets and common styles*/
body {
  font-family: "Montserrat", sans-serif;
  @include textParameters();
  background-color: $bodyBgColor;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

._ibg {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.header-block {
  text-align: center;

  &__title {
    font-size: 40px;
    line-height: 142%;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__sub-title {
    color: $secondTextColor;
    font-weight: 500;
    line-height: 142%;
  }
}

/* Header styles start*/
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;

  &__container {
    display: flex;
    min-height: 104px;
    align-items: center;
  }

  &__logo {
    font-size: 24px;
    color: inherit;
    letter-spacing: 0.1px;
  }

  &__menu {
    margin-left: 133px;
  }
}
.menu {
  padding: 5px 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 21px;
    }
  }

  &__link {
    color: $secondTextColor;
    font-weight: 600;
    line-height: 24 / 14 * 100%;
  }
}
/* Header styles end*/

/* Page styles start*/
.page {
  flex: 1 1 auto;

  &__services {
    position: relative;
    z-index: 2;
    margin-top: -111px;
  }

  &__clients {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

/* Main block styles start*/
.main-block {
  position: relative;

  &__body {
    padding: 184px 0 191px 0;
    position: relative;
    z-index: 2;
    max-width: 400px;

    > * {
      &:not(:last-child) {
        margin-bottom: 35px;
      }
    }
  }

  &__title {
    font-size: 58px;
    line-height: 80 / 58 * 100%;
    font-weight: 800;
  }

  &__text {
    color: $secondTextColor;
    font-size: 20px;
    line-height: 150%;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
  }

  &__button {
    border-radius: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 36px;
    min-height: 48px;
    line-height: 150%;
    text-align: center;
    margin: 10px 0;

    &_orange {
      background: $primaryColor;
      color: $lightTextColor;
    }

    &_border {
      color: $secondaryColor1;
      border: 1px solid $secondaryColor1;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
/* Main block styles end*/

/* Services styles start*/
.services {
  &__column {
    flex: 0 1 33.333%;
    margin-bottom: 30px;
  }

  &__item {
    background-color: $lightTextColor;
    box-shadow: 0px 13px 19px $serviceShadowColor;
    padding: 35px;
    height: 100%;
  }
}

.item-service {
  &__green {
    background-color: $secondaryColor1;

    .item-service {
      &__title {
        color: $lightTextColor;
      }

      &__text {
        color: $lightTextColor;
      }
    }
  }

  > * {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
  }

  &__text {
    color: $secondTextColor;
    font-weight: 500;
    line-height: 142%;
  }
}
/* Services styles end*/

/* Advantages section styles start*/
.advantages {
  padding: 80px 0;

  &__header {
    margin-bottom: 50px;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
  }

  &__column {
    padding: 0 15px;
    flex: 0 1 25%;
    margin-bottom: 30px;
  }

  &__item {
    background-color: $lightTextColor;
    padding: 30px;
    text-align: center;

    > *:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__icon {
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &__value {
    font-size: 40px;
    line-height: 142%;
  }

  &__text {
    color: $secondTextColor;
    letter-spacing: 0.1px;
    font-size: 16px;
    line-height: 150%;
  }
}
/* Advantages section styles end*/

/* Practice section styles start*/
.practice {
  padding: 125px 0 80px 0;

  &__header {
    margin-bottom: 45px;
  }

  &__body {
    margin: 0 -20px -30px;
    display: flex;
    flex-wrap: wrap;
  }

  &__column {
    padding: 0 20px;
    margin-bottom: 30px;
    flex: 0 1 25%;
  }
}

.item-practice {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $lightTextColor;

  &__content {
    padding: 30px;
    flex: 1 1 auto;
  }

  &__link {
    color: inherit;
    display: inline-block;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    letter-spacing: 0.1px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
  }

  &__text {
    color: $secondTextColor;
    line-height: 142%;
    font-weight: 500;
  }

  &__image {
    display: block;
    padding-bottom: 138 / 230 * 100%;
  }
}
/* Practice section styles end*/

/* Whoweare section styles start*/
.whoweare {
  padding: 80px 0 130px 0;
  background-color: $lightTextColor;

  &__header {
    margin-bottom: 100px;
  }

  &__body {
    display: flex;
    align-items: flex-start;
  }

  &__video {
    flex: 0 0 57%;
    position: relative;
    padding-bottom: 42.25%;

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  &__content {
    flex: 1 1 auto;
    padding: 20px 0 0 121px;
  }

  &__top {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 40px;
    line-height: 142%;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__text {
    color: $secondTextColor;
    line-height: 142%;
    font-weight: 500;
  }

  &__items {
    margin-top: 50px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.item-whoweare {
  display: flex;
  &__icon {
    flex: 0 0 32px;
  }

  &__body {
    flex: 1 1 auto;
    padding-left: 20px;
  }

  &__title {
    font-size: 16px;
    line-height: 150%;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__text {
    color: $secondTextColor;
    font-weight: 600;
    white-space: nowrap;
    width: 225px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
/* Whoweare section styles end*/

/* Clients block styles start*/
.clients {
  padding: 50px 0;

  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    padding: 8px 15px;
    flex: 0 1 16.6667%;
    text-align: center;
    min-width: 140px;

    img {
      max-width: 100%;
    }
  }
}
/* Clients block styles end*/

/* Subscribe section styles start*/
.subscribe {
  position: relative;
  padding-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 77px;
    background-color: $textColor;
  }

  &__body {
    position: relative;
    z-index: 2;
    padding: 30px 50px;
    align-items: center;
    background-color: $secondaryColor2;
    border-radius: 2px;
  }

  &__title {
    color: $lightTextColor;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
  }

  &__form {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
  }

  &__input {
    flex: 1 1 auto;
    width: 100%;
    min-height: 58px;
    padding: 0 20px;
    border: 1px solid $formBorderColor;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
    background-color: $inputBgColor;
    color: $secondTextColor;
    border-right: 0;

    &:focus {
      color: $dark;
    }
  }

  &__button {
    background-color: $primaryColor;
    border: 1px solid $formBorderColor;
    border-radius: 0 5px 5px 0;
    display: flex;
    min-height: 58px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $lightTextColor;
    padding: 0 22px;
  }
}
/* Subscribe section styles end*/

/* Getintouch section styles start*/
.getintouch {
  padding: 80px 0 135px 0;

  &__header {
    margin-bottom: 80px;
  }

  &__items {
    margin: 0 -15px;
  }

  &__item {
    flex: 0 1 33.333%;
  }
}

.item-getintouch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $lightTextColor;
  padding: 50px 15px;

  > * {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__emails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__email {
    color: inherit;
    font-weight: 600;
    line-height: 150%;
    font-size: 16px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__label {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
  }

  &__button {
    display: flex;
    min-height: 44px;
    justify-content: center;
    align-items: center;
    color: $primaryColor;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid $primaryColor;
    line-height: 142%;
    text-align: center;
    padding: 5px 20px;
    transition: all 0.3s ease 0s;

    &:hover {
      background-color: $primaryColor;
      color: $lightTextColor;
    }
  }

  &_active {
    background-color: $textColor;
    color: $lightTextColor;
    padding: 80px 15px;

    .item-getintouch {
      &__button {
        border: 1px solid $lightTextColor;
        color: $lightTextColor;

        &:hover {
          border: 1px solid $primaryColor;
        }
      }
    }
  }
}
/* Getintouch section styles end*/

/* Page styles end*/

/* Footer styles start*/

/* Footer styles end*/

/* Media queries start*/
@media (max-width: 1300px) {
  .main-block {
    &__image {
      img {
        object-position: right;
      }
    }
  }
}

@media (max-width: 1080px) {
  .whoweare__content {
    padding-left: 50px;
  }
}

@media (min-width: 1070px) {
  .subscribe {
    &__body {
      margin: 0 30px;
    }
  }
}

@media (max-width: 1040px) {
  .practice {
    &__column {
      flex: 0 1 50%;
    }
  }
}

@media (max-width: 1000px) {
  .advantages {
    &__column {
      flex: 0 1 50%;
    }
  }
}

@media (max-width: 993px) {
  .practice {
    padding: 40px 0 80px;
  }
}

@media (max-width: 992px) {
  .header {
    &__menu {
      margin-left: 80px;
    }
  }

  .main-block {
    &__body {
      padding-top: 120px;
    }

    &__image {
      opacity: 0.5;
    }
  }

  .services {
    &__column {
      flex: 0 1 50%;

      &:not(:last-child) {
        margin-bottom: 30px;
      }

      &:last-child {
        flex: 1 1 100%;
      }
    }
  }

  .header-block {
    &__title {
      font-size: 35px;
    }
  }

  .advantages {
    padding: 50px 0;
  }

  .whoweare {
    &__content {
      padding: 0;
    }
  }

  .getintouch {
    padding: 50px 0;
    &__header {
      margin-bottom: 50px;
    }
  }

  .item-getintouch {
    &_active {
      padding: 50px 15px;
    }
  }
}

@media (min-width: 992px) {
  .getintouch {
    &__items {
      display: flex;
      align-items: center;
      margin: 0;
    }
  }
}

@media (max-width: 950px) {
  .whoweare {
    padding: 50px 0;

    &__header {
      margin-bottom: 30px;
    }

    &__title {
      font-size: 24px;
    }

    &__body {
      flex-direction: column-reverse;
      align-items: stretch;
    }

    &__video {
      padding-bottom: 56.25%;

      &:not(:last-child) {
        margin-top: 50px;
      }
    }
  }
}

@media (max-width: 810px) {
  .subscribe {
    &__body {
      margin: 0 -15px;
      padding: 20px 15px;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__input {
      padding: 0 15px;
    }

    &__button {
      padding: 0 15px;
    }
  }
}

@media (min-width: 810px) {
  .subscribe {
    &__body {
      display: flex;
      justify-content: space-between;
    }

    &__title {
      max-width: 266px;
    }
  }
}

@media (max-width: 767px) {
  .header {
    &__menu {
      margin-left: 40px;
    }
  }

  .header-block {
    &__title {
      font-size: 30px;
    }
  }

  .advantages {
    padding: 30px 0;

    &__header {
      margin-bottom: 25px;
    }
  }

  .practice {
    padding-bottom: 40px;

    &__header {
      margin-bottom: 25px;
    }
  }

  .whoweare {
    padding: 20px 0 50px 0;

    &__top {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    &__video {
      &:not(:last-child) {
        margin-top: 50px;
      }
    }
  }

  .clients {
    padding: 30px 0;
  }

  .getintouch {
    &__header {
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 670px) {
  .services {
    &__body {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px -30px;
    }

    &__column {
      padding: 0 15px;
    }
  }
}

@media (max-width: 630px) {
  .practice {
    &__column {
      flex: 0 1 100%;
    }
  }
}

@media (max-width: 560px) {
  .advantages {
    &__column {
      flex: 0 1 100%;
    }
  }
}

@media (max-width: 479px) {
  .header {
    &__container {
      min-height: 70px;
    }

    &__menu {
      margin-left: 20px;
    }
  }

  .menu {
    &__link {
      font-size: 18px;
    }
  }

  .main-block {
    &__title {
      font-size: 42px;
    }

    &__text {
      color: $readableColor;
    }

    &__button {
      flex: 1 1 100%;
    }

    &__body {
      padding: 115px 0 160px 0;
    }
  }
}

@media (min-width: 479px) {
  .main-block {
    &__button {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .services {
    &__item {
      padding: 25px;
    }
  }
}
/* Media queries end*/
